.body {
  color: var(--bs-danger);
  display: grid;
  grid-template-columns: 1fr;
  align-content: baseline;
  justify-items: center;
}

.iconSmall {
  font-size: var(--inspect-font-size-small);
  line-height: var(--inspect-font-size-small);
  height: var(--inspect-font-size-small);
}

.message {
  text-align: center;
  width: 300px;
}
