/* custom title block treatment for vscode */

body[class^="vscode-"] .workspace {
  margin-top: 0 !important;
}

body[class^="vscode-"] .font-title {
  font-size: 0.9em;
}

body[class^="vscode-"] .font-subtitle {
  font-size: 0.8em;
}

body[class^="vscode-"] .font-title > span:last-of-type {
  font-size: 0.8em !important;
}

body[class^="vscode-"] .workspace > div > div > div:last-child > div > div > div:last-child {
  font-size: 1rem !important;
}

body[class^="vscode-"] #title-plan-summary > div > div > div:last-child,
body[class^="vscode-"] #title-plan-summary > div > div > div:last-child > div {
  font-size: 0.7rem !important;
}

body[class^="vscode-"] #title-hyperparameters > div > div:last-child {
  font-size: 0.7rem !important;
}

/* custom sidebar treatment for vscode */
body[class^="vscode-"] .sidebar .list-group .list-group-item {
  font-size: 0.6rem !important;
}

body[class^="vscode-"] #sidebarOffCanvas > div > span {
  font-size: 0.8rem !important;
}

body[class^="vscode-"] code:not(.sourceCode) {
  color: var(--bs-body-color);
}

/* temporary hack to improve the appearance of metrics in the navbar
   to truly fix, remove 'navbar-brand' from metrics div and use `navbar-metrics` 
   to properly style it */
body[class^="vscode-"] .navbar > div > .navbar-text:not(.navbar-brand) > div > div > div:last-of-type {
  transform: scale(0.7);
}