.toolImage {
  max-width: 800px;
  border: solid var(--bs-border-color) 1px;
}

.output {
  display: grid;
}

.textOutput {
  padding-left: 2px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  white-space: pre-wrap;
  margin-bottom: 0;
  font-size: 0.8rem !important;
}

.textCode {
  word-wrap: anywhere;
}
