aiofiles
click
debugpy
fsspec
httpx
numpy
platformdirs
python-dotenv
jsonlines
json-stream
nest_asyncio
pydantic>=2
s3fs>=2023
semver
shortuuid
tenacity
beautifulsoup4
docstring-parser
typing_extensions
pyyaml
rich
psutil




anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
