adlfs>=2026.4.0
anthropic>=0.97.0
azure-ai-inference
azure-identity
fastapi>=0.136.1
google-genai>=1.73.1
griffe>=2
groq>=1.2.0
huggingface_hub>=1.12.0
inspect_scout
ipython
jsonpath-ng
markdown
mcp>=1.27.0
mistralai>=2.4.3
moto[server]>=5.1.22
mypy>=1.20.2
nbformat
openai>=2.32.0
pandas>=2.3.3
pandas-stubs
panflute
pip
pre-commit
pyarrow>=24.0.0
pyarrow-stubs
pytest
pytest-cov
pytest-dotenv
pytest-mock
pytest-watcher
pytest-xdist
# match ruff version specified in .pre-commit-config.yaml
ruff==0.9.6
textual-dev>=1.8.0
together>=2.10.0
trio
types-aioboto3
types-beautifulsoup4
types-boto3
types-botocore
types-grpcio
types-jsonpatch
types-jsonschema
types-Markdown
types-protobuf
types-psutil
types-python-dateutil
types-PyYAML
types-regex
uvicorn
xai_sdk>=1.11.0
# zipfile-zstd patches zipfile to support zstd compression (for creating test fixtures)
zipfile-zstd>=0.0.4; python_version < '3.14'
