aiofiles
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
beautifulsoup4
click
debugpy
docstring-parser>=0.16
fsspec
httpx
ijson
jsonlines
jsonpatch
jsonschema
mmh3
nest_asyncio
numpy
platformdirs
psutil
pydantic>=2
python-dotenv
pyyaml
rich
s3fs>=2023
semver
shortuuid
tenacity
typing_extensions>=4.9.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
