aiofiles
beautifulsoup4
click
debugpy
docstring-parser
fsspec
httpx
json-stream
jsonlines
nest_asyncio
numpy
platformdirs
psutil
pydantic>=2
python-dotenv
pyyaml
rich
s3fs>=2023
semver
shortuuid
tenacity
typing_extensions
