.circle {
  font-family: "Consola Regular";
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-top: 1px;
}

.green {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
  color: var(--bs-body-bg);
}

.red {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-body-bg);
}

.orange {
  background-color: var(--bs-orange);
  border-color: var(--bs-orange);
  color: var(--bs-body-bg);
}
