
#refs {
    display: none;
}

ul.no-bullets {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

li.group {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

li.example {
    margin-bottom: 0.6em;
}

li.example a {
    text-decoration: none;
    color: black;
}

div.example-card {
    display: flex;
}

div.example-icon {
    width: 25px;
    flex-shrink: 0;
}

div.example-info {
    flex-grow: 1;
}

.quarto-listing-filter {
    margin-left: 0;
    width: 300px;
}