.webSearch {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5em;
  align-items: baseline;
}

.query {
  font-family: var(--bs-font-monospace);
}

.result a:hover {
  text-decoration: underline;
}

.result a {
  opacity: 0.8;
  text-decoration: none;
}
