.iconCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  color: var(--bs-gray-600);
}

.iconCell :global(.ii:before) {
  background-color: var(--bs-gray-600);
}

.numberCell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 4px;
  font-variant-numeric: tabular-nums;
  overflow: visible;
}
