.header {
  border-bottom: solid var(--bs-border-color) 1px;
  background: var(--bs-light);
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  padding: 0.2em 1em;
  --bs-breadcrumb-divider: ">";
}

.breadcrumbs {
  border-left: solid var(--bs-border-color) 1px;
  padding-left: 0.5em;
  margin-bottom: 0;
}

.left {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 0.75em;
}

.toolbarButton {
  color: var(--bs-body);
}

.toolbarButton:hover {
  color: var(--bs-link-hover-color);
}
