.workspace {
  padding-top: 0rem;
  overflow-y: hidden;
}

.tabContainer {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.tabSet {
  flex-wrap: nowrap;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: solid 1px var(--bs-border-color);
  background: var(--bs-light);
}

.tabs {
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  width: 5rem;
  text-transform: uppercase;
  border-radius: var(--bs-border-radius);
  font-weight: 600;
}

.tabPanels {
  flex: 1;
  overflow-y: hidden;
  display: flex;
}
