.contents {
  margin-top: 0.5em;
}

.contents > :last-child {
  margin-bottom: 0;
}

.twoColumn {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1.5em;
}

.exec {
  margin-top: 0;
}

.result {
  margin-top: 0.5em;
}

.fileLabel {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapPre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 0;
}
