.expandableBordered {
  border: solid var(--bs-light-border-subtle) 1px;
}

.expandableTogglable {
  margin-bottom: 1em;
}

.expandableContents {
  font-size: var(--inspect-font-size-base);
}

.expandableCollapsed {
  overflow: hidden;
}

.moreToggle {
  display: flex;
  margin-top: 0;
  position: relative;
  height: 18px;
}

.moreToggle.bordered {
  border-top: solid var(--bs-light-border-subtle) 1px;
}

.moreToggleContainer {
  position: absolute;
  top: -1px;
  right: 0;
  display: inline-block;
  border: solid var(--bs-light-border-subtle) 1px;
  border-top: none;
  margin-left: auto;
  margin-right: 0;
}

.moreToggleButton {
  font-size: var(--inspect-font-size-smaller);
  border: none;
  padding: 0.1rem 0.5rem;
}
