.modal {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  max-width: 90vw;
  margin-top: 3rem;
  border-radius: var(--bs-border-radius);
}

.modalTitle {
  font-weight: 600;
}

.btnClose {
  height: 0.8em;
  width: 0.8em;
}
