.tabContainer {
  position: relative;
}

.visible {
  display: block;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.pills {
  margin-right: 0;
  margin-bottom: 0.5rem;
}

.pill {
  min-width: 4rem;
  font-size: var(--inspect-font-size-small);
  padding: 0.1rem 0.6rem;
  border-radius: var(--bs-border-radius);
}
