.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: visible;
}

.container.hidden {
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}
