.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.samplesListGrid :global(.ag-row) {
  border-bottom: 1px solid var(--bs-border-color);
}

.samplesListGrid :global(.ag-row.ag-row-selected) {
  box-shadow: inset 0 0 0 2px var(--bs-focus-ring-color);
}

.samplesListGrid :global(.ag-header-cell) {
  padding: 0;
}
.samplesListGrid :global(.ag-header-cell-label::before) {
  content: "";
  flex: 0 1 var(--ag-cell-horizontal-padding);
}

.samplesListGrid :global(.ag-header-cell-text) {
  font-size: var(--inspect-font-size-smallestest);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--bs-secondary-color);
  font-weight: 400;
}

.samplesListGrid :global(.ag-sort-order) {
  font-size: var(--inspect-font-size-smallestest);
  align-self: center;
  margin-right: -10px;
}

.samplesListGrid :global(.ag-cell) {
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: normal;
}

.cell {
  line-height: var(--bs-body-line-height);
}

.wrapAnywhere {
  overflow-wrap: break-word;
}

.noLeft {
  padding-left: 0;
}

.score {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.centered {
  display: flex;
  justify-content: center;
}
