.header {
  padding-left: 0.5rem;
  display: grid;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  border-bottom: solid var(--bs-light-border-subtle) 1px;
}

.center {
  justify-self: center;
}

.shrinkable {
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
