.stickyWrapper {
  position: sticky;
  top: var(--inspect-event-panel-sticky-top);
  padding: 5px 10px 5px 0;
  margin: var(--inspect-event-panel-sticky-margin);
  background-color: transparent;
  z-index: 1;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}

.stickyWrapper:global([data-useStickyObserver-stuck]) {
  background-color: var(--bs-light);
  padding-left: 10px;
  margin-left: var(--inspect-event-panel-sticky-stuck-margin-left);
  margin-right: var(--inspect-event-panel-sticky-stuck-margin-right);
  border-bottom-color: var(--bs-light-border-subtle);
  border-left-color: var(--bs-light-border-subtle);
  border-right-color: var(--bs-light-border-subtle);
}

.label {
  margin-right: 0.2em;
  justify-self: end;
}

.navs {
  justify-self: end;
  display: flex;
  align-items: baseline;
}

.turnLabel {
  margin-left: 0.625rem;
  opacity: 0.5;
  font-size: var(--inspect-font-size-smallest);
}

.card {
  position: relative;
  background-color: var(--bs-body-bg);
  padding: 0.625rem;
  border: solid 1px var(--bs-light-border-subtle);
  border-radius: var(--bs-border-radius);
}

.cardContent {
  padding: 0;
  display: inherit;
}

.cardContent.hidden {
  display: none;
}

.hidden {
  display: none;
}

.copyLink {
  font-size: 1.2em;
  height: 1em;
  opacity: 0;
  padding-left: 0.2em;
  padding-right: 2em;
}

.hover .copyLink {
  opacity: 0.75;
}

.root {
  background-color: var(--bs-light-bg-subtle);
  border-radius: unset;
}

.bottomDongle {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: fit-content;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bs-body-bg);
  border: solid 1px var(--bs-light-border-subtle);
  color: var(--bs-secondary);

  border-radius: var(--bs-border-radius);
  padding: 0em 0.4em;
  cursor: pointer;
}

.dongleIcon {
  padding-right: 0.3em;
}
