.wrapper {
  display: grid;
  grid-template-columns: 0 auto auto;
  column-gap: 1.5em;
  row-gap: 0.2em;
}

.col2 {
  grid-column: 2;
}

.col1_3 {
  grid-column: 1/3;
}

.col3 {
  grid-column: 3;
}

.separator {
  grid-column: -1/1;
  height: 1px;
  background-color: var(--bs-light-border-subtle);
}

.topMargin {
  margin-top: 1em;
}
