[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Web Browser
Comment=Browse the World Wide Web
Exec=firefox-esr %u
Icon=firefox-esr
Path=
Terminal=false
StartupNotify=true
