.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  column-gap: 1rem;
}

.padded {
  padding-bottom: 1em;
}

.key {
  font-weight: 300;
}

.value {
  font-weight: 600;
}
