.grid {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0.4em;
  border: solid var(--bs-border-color) 1px;
  border-radius: var(--bs-border-radius);
  margin-bottom: 0.7rem;
}

.number {
  margin-top: 0.1em;
}

.user {
  background-color: var(--bs-secondary-bg);
  border-radius: var(--bs-border-radius);
}

.container {
  padding: 0.4em 0.4em 0.4em 0.4em;
}
