.message {
  font-weight: 300;
  margin-left: 0;
  margin-right: 0;
  white-space: normal;
}

.systemRole {
  opacity: 0.7;
}

.timestamp {
  opacity: 0.5;
  font-size: var(--inspect-font-size-smaller);
  font-weight: normal;
}

.messageGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.5em;
  font-weight: 500;
  margin-bottom: 0.3em;
  justify-content: space-between;
  align-items: flex-start;
}

.toolMessageGrid {
  border-bottom: solid 1px var(--bs-border-color);
}

.messageContents {
  margin-left: 0;
  padding-bottom: 0;
}

.messageContents.indented {
  margin-left: 0rem;
}

.copyLink {
  opacity: 0;
  padding-left: 0;
  padding-right: 2em;
  margin-left: 0.2rem;
}

.copyLink:hover {
  opacity: 0.75;
}

.metadataLabel {
  padding-top: 1em;
}

.hover .copyLink {
  opacity: 0.75;
}
