.contentImage {
  max-width: 800px;
  border: solid var(--bs-border-color) 1px;
}

.reasoning {
  border: solid var(--bs-light-border-subtle) 1px;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: var(--bs-light-bg-subtle);
  border-radius: var(--bs-border-radius);
}

.data {
  border: solid var(--bs-light-border-subtle) 1px;
  padding: 1em;
  margin-bottom: 0.5em;
}
