.footer {
  border-top: solid var(--bs-light-border-subtle) 1px;
  background: var(--bs-light-bg-subtle);
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: space-between;

  padding: 0.2em 1em;
}

.spinnerContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.3em;
  padding-top: 0.2em;
}

.spinner {
  height: 11px;
  width: 11px;
  color: var(--bs-secondary);
  border-width: 1px;
}

.label {
  margin-left: 0.1em;
  margin-top: -3px;
}

.right {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  column-gap: 0.5em;
}

.left {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 0.5em;
}

.center {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
}
