.row {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  border-bottom: solid var(--bs-light-border-subtle) 1px;
}

.left {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 0.2rem;
}

.right {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  justify-content: end;
}

.task {
  font-weight: 600;
}

.task a {
  text-decoration: none;
  color: inherit !important;
}

.task a:hover {
  text-decoration: underline;
}

.taskDetail {
  grid-column: 2 / -1;
}

.folderItems {
  text-align: right;
}
