.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.1em;
  min-width: 9em;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 0.2em 0;
}

.row:hover {
  background-color: var(--bs-secondary-bg);
}
