.container {
  padding: 0.2em 0.3em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0;
  min-width: 9em;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border-radius: var(--bs-border-radius);
  padding: 0.15em 0.4em;
  margin: 0 -0.4em;
}

.row:hover {
  background-color: var(--bs-secondary-bg);
}

.label {
  align-self: center;
  margin-right: 0.3em;
  margin-left: 0.2em;
}

.links {
  display: flex;
  padding-bottom: 0.2em;
  margin-bottom: 0.4em;
  column-gap: 0.3em;
  border-bottom: solid 1px var(--bs-border-color);
}

.links a {
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-link-color);
}

.links a:hover {
  color: var(--bs-link-hover-color);
}

.selected {
  font-weight: 600;
}

.bodyColorButton {
  background-color: var(--bs-body-bg);
}
