[Desktop Entry]
Name=Firefox Custom
Comment=Open Firefox with custom URL
Exec=firefox-esr -new-window -profile /home/computeruse/.mozilla/firefox-esr/profile.default
Icon=firefox-esr
Terminal=false
Type=Application
Categories=Network;WebBrowser;
