

Screen {
    layout: vertical;
}

EventList {
   
    border: solid red;
}

EventGroupsListView > ListItem {
    background: transparent;
}

EventGroupsListView > ListItem.--highlight {
    background: $boost;
    
}
EventGroupsListView:focus > ListItem.--highlight {
    background: $boost;
}

