.grid {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0.5em;
  row-gap: 0.2em;
}

.cell {
  font-weight: 400;
  white-space: nowrap;
}

.value {
  white-space: pre-wrap;
  word-wrap: anywhere;
}
