.keyPairContainer {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0.5em;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: solid 1px var(--bs-border-color);
}

.key {
  display: grid;
  grid-template-columns: 1em auto;
  cursor: pointer;
}

.pre {
  margin-bottom: 0;
}

.treeIcon {
  margin-top: -3px;
}
