[Unit]
Description=Multi-tool Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/multi-tool-server
Restart=on-failure
RestartSec=5s
WorkingDirectory=/opt/inspect

[Install]
WantedBy=multi-user.target