.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2em;
  column-gap: 1em;
}

.modelInfo {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1em;
  row-gap: 0.1em;
}

.role {
  grid-column: -1/1;
}

.sep {
  grid-column: -1/1;
  height: 1px;
  background-color: var(--bs-light-border-subtle);
}
