.simpleMetricsRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  height: 100%;
  align-items: center;
  max-height: 15em;
  overflow: scroll;
}

.verticalMetricReducer {
  font-size: var(--inspect-font-size-smaller);
  text-align: center;
  padding-top: 0.3rem;
  margin-bottom: -0.3rem;
}

.verticalMetricName {
  font-size: var(--inspect-font-size-smaller);
  text-align: center;
  padding-top: 0.3rem;
  margin-bottom: -0.2rem;
  border-bottom: solid var(--bs-border-color) 1px;
}

.verticalMetricValue {
  font-weight: 500;
  text-align: center;
}

.moreButton {
  margin-top: 0.25em;
  padding-right: 0;
  padding-bottom: 0;
}

.metricsSummary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.35em;
}

.modalScores {
  padding-bottom: 4em;
}
