project:
   type: book
   resources: 
      - CNAME
  
book:
   title: "Inspect"
   subtitle: "An open-source framework for large language model evaluations"
   page-navigation: true
   repo-url: https://github.com/UKGovernmentBEIS/inspect_ai
   site-url: https://inspect.ai-safety-institute.org.uk/
   repo-actions: [issue]
   # downloads: [pdf, epub, docx]
   twitter-card:
      title: "Inspect"
      description: "Open-source framework for large language model evaluations"
      image: /images/inspect.png
      card-style: summary_large_image
   open-graph: 
      title: "Inspect"
      description: "Open-source framework for large language model evaluations"
      image: /images/inspect.png
   sidebar:
      header: >
         [![](/images/aisi-logo.png){fig-alt="UK AI Safety Institute Website"}](https://aisi.gov.uk/)

   page-footer: 
      left: 
         - text: UK AI Safety Institute
           href: https://aisi.gov.uk/
      center: 
         - text: Code
           href: https://github.com/UKGovernmentBEIS/inspect_ai
         - text: Changelog
           href: https://github.com/UKGovernmentBEIS/inspect_ai/blob/main/CHANGELOG.md
         - text: License
           href: https://github.com/UKGovernmentBEIS/inspect_ai/blob/main/LICENSE 
         - text: Issues
           href: https://github.com/UKGovernmentBEIS/inspect_ai/issues
       
      right:
         - icon: twitter
           href: https://twitter.com/AISafetyInst
           aria-label: UK AI Safety Institute Twitter
         - icon: github
           href: https://github.com/UKGovernmentBEIS/inspect_ai/
           aria-label: Inspect on GitHub
      
   chapters: 
      - "index.qmd"     
      - part: "Basics"
        chapters:
           - tutorial.qmd
           - workflow.qmd
           - examples/index.qmd
           - log-viewer.qmd
           - text: "VS Code"
             href: vscode.qmd

      - part: "Components"
        chapters: 
           - solvers.qmd
           - tools.qmd
           - agents.qmd
           - scorers.qmd
           - datasets.qmd
           - models.qmd

      - part: "Advanced"
        chapters:
           - eval-sets.qmd
           - text: "Errors & Limits"
             href: errors-and-limits.qmd
           - caching.qmd
           - parallelism.qmd
           - agents-api.qmd
           - interactivity.qmd
           - approval.qmd
           - eval-logs.qmd
           - extensions.qmd


toc-depth: 2
number-sections: true
number-depth: 2

format:
   html:
     theme: [cosmo, theme.scss]
     toc-depth: 3
     number-sections: false
     code-annotations: select
   # pdf: 
   #    number-depth: 1
   #    listings: false
   #    author: UK AI Safety Institute
   #    date: today
   # docx: 
   #    author: UK AI Safety Institute
   #    date: today
   # epub: 
   #    author: UK AI Safety Institute
   #    date: today

execute: 
  enabled: false