name: Build Log Viewer

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

env:
  UV_VERSION: 0.9.4

jobs:
  typecheck:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/inspect_ai/_view/www
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: yarn install

      - name: Run tsc
        run: yarn tsc

  prettier:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/inspect_ai/_view/www
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: yarn install

      - name: Check prettier
        run: yarn prettier:check

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/inspect_ai/_view/www
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: yarn install

      - name: Run eslint
        run: yarn eslint

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/inspect_ai/_view/www
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test

  build-library:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/inspect_ai/_view/www
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: yarn install

      - name: Build library package
        run: yarn build:lib

      - name: Test NPM publish (dry-run)
        run: npm publish --dry-run --ignore-scripts
        env:
          NPM_TOKEN: "dummy-token-for-dry-run"

  check-schema-and-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "${{ env.UV_VERSION }}"

      - name: Install dependencies
        run: uv pip install --system .[dev]

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - name: Install Node.js dependencies
        working-directory: src/inspect_ai/_view/www
        run: yarn install --frozen-lockfile

      - name: Update schema and types
        run: python src/inspect_ai/_view/schema.py

      - name: Ensure schema and types changes are checked in
        run: |
          if [[ $(git status --porcelain) != "" ]]
          then
            echo "Log format JSON Schema and TypeScript types are out of date. Please run python src/inspect_ai/_view/schema.py and check in the changes."
            git status
            git diff
            exit 1
          fi

  # TODO: This is failing even with a freshly generated build.js file
  # Need to debug or better understand the cause
  # build:
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       working-directory: src/inspect_ai/_view/www
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: "22.x"
  #     - name: Install dependencies
  #       run: yarn install

  #     - name: Build log viewer
  #       run: yarn build

  #     - name: Ensure dist changes are checked in
  #       run: |
  #         if [[ $(git status --porcelain) != "" ]]
  #         then
  #           echo "Log viewer dist files have not been updated, please run yarn build and check in the changes."
  #           git status
  #           git diff dist/assets/index.js
  #           exit 1
  #         fi
